@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <title>Star Wars Online</title>
    <link href="http://play.jok.io/css?ignore=1" rel="stylesheet" />
    @Styles.Render("~/play/css")
    <script>
        window.userid = '@ViewBag.UserID';

        var jok = {};

        jok.config = {
            sid: '@ViewBag.SID',
            gameid: '@ViewBag.GameID',
            channel: '@ViewBag.Channel',
            language: '@ViewBag.Language',
            isVIPMember: '@ViewBag.IsVIPMember' == 'True',
            exitUrl: '@ViewBag.ExitUrl',
            authorizationUrl: '@ViewBag.AuthorizationUrl',
            isMobileDevice: @Request.Browser.IsMobileDevice.ToString().ToLower(),
            audios: '@Url.Content("~/Content/Audios/")',
            isMobileApp: '@ViewBag.IsMobileApp' == 'True'
        }
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
</head>
<body>
    <div id="Game">
        <div id="StarWarsImage"></div>
        <div id="container" oncontextmenu="return false;"></div>
        <div id="percentage" style="position: relative; bottom: 0; right: 0; font-size: 18px; font-weight: bold; margin-bottom: 0px; float: right; margin-top: -50px;"></div>
    </div>
    <script src="http://play.jok.io/js?ignore=3"></script>
    @Scripts.Render("~/play/js")
</body>
</html>
